body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Style pour les titres */
h1 {
    color: white;
    font-size: 50px; /* Taille du texte réduite */
    margin: 0 40px; /* Supprime les marges au-dessus et en dessous */
    line-height: 1; /* Réduit l'espace vertical entre les lignes si le texte est sur plusieurs lignes */
}

/* Style pour le bandeau */
.bandeau {
    background-color: #c2ac82; /* Couleur du bandeau */
    color: white;
    text-align: center;
    padding: 10px 100px;
    font-size: 24px;
    display: flex;
}

/* Container pour les cadres */
.container {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

/* Grand cadre */
.grand-cadre {
    width: 1216px;
    height: 816px;
    background-color: #c2ac82; /* Couleur de fond du grand cadre */
    border: 2px solid #ccc; /* Bordure du grand cadre */
    box-sizing: border-box;
    padding: 4px;
}

/* Petit cadre */
.petit-cadre {
    flex-grow: 1;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #c2ac82; /* Couleur de fond du petit cadre */
    border: 2px solid #ccc; /* Bordure du petit cadre */
    height: 816px;
    padding: 4px;
    box-sizing: border-box;
}

/* pour mettre une bordure à la cartedumonde */
#cartedumonde {
    border: 2px solid black; /* Bordure noire de 2 pixels */
}

